[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mccabe = "*"
flake8 = "*"

[packages]
Django = ">=2.2,<=3.0"
django-environ = "*"
psycopg2 = "*"
celery = "*"
django-celery-results = "*"
erppeek = "*"
paramiko = "*"
redis = "*"
pyyaml = "*"
python-dateutil = "*"
psutil = "*"
django-celery-beat = "*"
uwsgi = "*"
gevent = "*"
